@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(0deg, #efefef 65%, #fff);
  --foreground: #333333;
  --font-sans: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial,
    sans-serif;
}

body {
  color: var(--foreground);
  background-image: var(--background);
  font-family: var(--font-sans);
  @apply min-h-screen;
}
